%h1 List your business
= simple_form_for resource do |f|
  = error_messages!
  = render :partial => 'form', :object => f
  - unless user_signed_in?
    %h2 Representative
    - resource.build_representative unless resource.representative
    = f.fields_for :representative do |r|
      = render :partial => 'users/form', :object => r
  = f.submit "Done"
