- unless form.object.business.single_location?
  = form.association :locations
= form.input :title
= form.input :description
= form.input :fine_print
= form.input :value
= form.input :discounted_value
= form.input :starts_at
= form.input :ends_at
