= form_for @deal do |f|
  -if @deal.errors.any?
    #error_explanation
      %h2= "#{pluralize(@deal.errors.count, "error")} prohibited this deal from being saved:"
      %ul
        - @deal.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
