%li.item.location
  .map
    %div= image_tag "placeholders/map_100_100.png"
  .details
    - unless item.title.empty?
      %header= item.title
    .local-address= item.address
    .global-address #{item.city.title}, #{item.state.code} #{item.zip_code}
    .phone= item.phone
  %ul.menu
    %li= link_to "Edit", edit_representative_location_path(item)
    %li= link_to "Delete", representative_location_path(item), :method => :delete, :confirm => 'Are you sure?'